#d1 {
  justify-content: center;
  align-items: center;
  font-size: x-large;
  margin-left: 35%;
  margin-top: 10%;
}
button {
  margin: 5px;
  padding: 10px;
  border-radius: 5px;
}

input {
  margin: 10px;
}
